@import './styles/colors.css';

#file {
    display: none;
}
.imageName {
    display: block;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.selectImgItem {
    width: 100%;
    cursor: pointer;
}
.bottomLine {
    width: 100%;
    border: 1px solid var(--graytransparent-color);
}
.imgMenu {
    width: 250px;
    max-width: 300px;
    position: absolute;
    left: 50px;
    bottom: 50%;
    background-color: var(--lightgray-color);
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
}
.listContainer {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.addNewImg.selectImgItem {
    background-color: var(--lightblue-color);
    color: var(--white-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.currentImage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.selectImgItem.selected {
    background-color: rgb(123, 120, 141);
}